# Testing
run/
onholdcode/
bot/cogs/test.py
test.py

# Sublime Project Files
*sublime-workspace

# pyenv
.python-version

# Byte-compiled / optimized / DLL files
__pycache__/

# Environments
/.env.local
/.env.*.local

# To do files
todo.txt
